$gradient: linear-gradient(270deg, rgb(0, 255, 157), rgb(0, 183, 255));
$btn-bg-color: lightgray;
$btn-bg-color-hover: rgb(250, 248, 248);
$btn-bg-color-active: rgb(143, 143, 143);
$btn-bg-color-lastchild: rgb(0, 183, 255);
$btn-bg-color-lastchild-hover: rgb(94, 209, 255);
$btn-bg-color-lastchild-active: rgb(0, 162, 255);
